<div class="outer">
  <div class="col-12">
    <form class="product-form">
      <div class="row">
        <div class="col-6">
        <mat-form-field class="full-width" appearance="outline" >
          <mat-label>Product Name</mat-label>
          <input formControlName="product-name" type="text" matInput  >
        </mat-form-field>
        </div>
        <div class="col-6">
        <mat-form-field class="full-width" appearance="outline" >
          <mat-label>Description</mat-label>
          <input formControlName="product-description" type="text" matInput  >
        </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="full-width" appearance="outline" >
            <mat-label>Product Name</mat-label>
            <input formControlName="product-name" type="text" matInput  >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="full-width" appearance="outline" >
            <mat-label>Description</mat-label>
            <input formControlName="product-description" type="text" matInput  >
          </mat-form-field>
        </div>
      </div>




    </form>
  </div>
</div>
