.love-icon{
  color: white;
}
.discounted-price{
  font-size: 20px;
}
.card{
  margin: 30px 15px;

}
.card-img-top{
  width: 200px;
  text-align: center;
}
.product-img{

  display: flex;
  justify-content: center;
  align-items: center;
}
.add-cart-btn{
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.description{
  color: gray;
}
