<h2 class="head">Product Management</h2>
<div class="btn-outer">


  <button class="product-btn" routerLinkActive="active"
          routerLink="console/playground/product/new"><mat-icon >add</mat-icon> &nbsp;&nbsp;
    New Customer</button>
  <button class="product-btn" ><mat-icon >search</mat-icon>&nbsp;&nbsp;
    Find Customer</button>
  <button class="product-btn"><mat-icon >update</mat-icon>&nbsp;&nbsp;
    Update Customer</button>
  <button class="product-btn"><mat-icon >delete</mat-icon>&nbsp;&nbsp;
    Delete Customer</button>
  <button class="product-btn"><mat-icon >apps</mat-icon>&nbsp;&nbsp;
    All Customers</button>
</div>
<router-outlet></router-outlet>
