.main-outer {
  width: 100%;
  padding: 80px 0 20px 0;
}

.row {
  margin: 0;
  padding: 20px;
}
.inner{
  margin-bottom: 20px;
}
.heading{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;
  font-weight: bolder;
}

